
/* this assures that when we set a width on an item that any border is included in it */
* {
	box-sizing: border-box;
}

body {
	/* limit the size of the width to 55 characters */
	max-width: 55ch;
	/* 0 margin at top, and center at the sides - "auto" means center, effectively */
	margin: 0 auto;
	/* add 1 characters worth padding around all edges */
	padding: 1ch;
}

h1,
h2,
h3,
h4 {
	/* leave less orphans for lines of text in headers */
	text-wrap: balance;
}

/* for any section that's a direct child of the body */
body > section {
	/* it'll be a grid */
	display: grid;
	/* with 2 columns, first column gets 1 portion */
	/* second column gets 3 portions, roughly */
	grid-template-columns: 1fr 3fr;
	/* assure a 1 character gap between the columns */
	gap: 1ch;
	/* and put a small dotted border at the end of each section */
	border-bottom: 1px dotted #666;
	/* and add a bit of padding at the top, but not sides */
	padding: 1ch 0;
	> * {
		/* any direct child item will start at */
		/* gridline 1, go to 3. gridlines are like tab stops */
		grid-column: 2 / 3;
		margin: 0;
	}
	> h3 {
		/* h3 titles go all the way across */
		grid-column: 1 / 3;
	}
	> h4 {
		/* dates start at tab stop 1 and don't go further */
		grid-column: 1;
	}
}
/* if the screen is no wider than 450 device pixels...*/
@media (max-width: 450px) {
	body > section {
		/* make anything in the grid go all the way */
		/* from grid line 1 to grid line 3 */
		> * {
			grid-column: 1 / 3;
		}
		> h3 {
			grid-column: 1 / 3;
		}
		> h4 {
			grid-column: 1 / 3;
		}
	}
}

html {
	line-height: 1.5;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
	-moz-tab-size: 4;
	/* 3 */
	-o-tab-size: 4;
	tab-size: 4;
	/* 3 */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* 4 */
}
