*,
::after,
::before {
}

* {
	box-sizing: border-box;
}

html {
  /* Use a consistent sensible line-height in all browsers. */
  line-height: 1.5;
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
  /* Use a more readable tab size. */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* Use the user's configured `sans` font-family by default. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* ros profile photo, shape and size */
img[src*="images/rosalindcroad.jpg"] {
    padding: 10px;
	/* give image rounded corners */
    border-radius: 10px;
	/* wrapping border around image */
    border-style: solid;
    border-width: 1px;
    border-color: pink;
  } 

/* set position and width of body text across website */
body {
    margin-inline: auto;
    max-width: 60ch;
  }
}

h1,
h2,
h3,
h4 {
	/* leave less orphans for lines of text in headers */
	text-wrap: balance;
}

/* STYLE FOR CV PAGE ONLY */
body.cv {
	/* 0 margin at top, and center at the sides - "auto" means center, effectively */
	margin: 0 auto;
	/* add 1 characters worth padding around all edges */
	padding: 1ch;
}

body.cv h2 {
	font-size: 18px;
	font-weight: 700;
}

body.cv p {
	font-size: 14px;
	font-weight: 400;
	color: #111111;
}

/* STYLE FOR CV PAGE ONLY */
/* for any section that's a direct child of the body */
body.cv > section {
	/* it'll be a grid */
	display: grid;
	/* with 2 columns, first column gets 1 portion */
	/* second column gets 3 portions, roughly */
	grid-template-columns: 1fr 4fr;
	/* assure a 1 character gap between the columns */
	gap: 1ch;
	/* and add a bit of padding at the top, but not sides */
	padding: 1.5ch 0;
	font-size: 14px;
	font-weight: 400;
	> * {
		/* any direct child item will start at gridline 1, go to 4. gridlines are like tab stops */
		grid-column: 2 / 4;
		margin: 0;
	}
	> h3, h4 {
		/* h3 titles go all the way across */
		grid-column: 2 / 4;
		font-size: 14px;
		font-weight: 400;
	}
	> h4 {
		color: #555555;
	}
	> .date {
		/* dates start at tab stop 1 and don't go further */
		grid-column: 1;
    	text-align: match-parent;
		color: #999999;
	}
}
/* STYLE FOR CV PAGE ONLY */
/* if the screen is no wider than 450 device pixels...*/
@media (max-width: 450px) {
	body.cv > section {
		/* make anything in the grid go all the way */
		/* from grid line 1 to grid line 4 */
		> * {
			grid-column: 1 / 4;
		}
		> h3 {
			grid-column: 1 / 4;
		}
		> h4 {
			grid-column: 1 / 4;
		}
	/* dates start at tab stop 1 and don't go further */
    > .date {
      grid-column: 1/4;
    }
	}
}